.地區詞選項[data-地區=港] .對應詞::after {
    content: "(HK)"; color: hsl(0, 0%, 30%); margin-left: 0.2em;
}
.正異取捨設定 { column-count: 4; }
.正異取捨設定 { -moz-user-select: none; -webkit-user-select: none; }
.正異條目 { display: flex; }
.正異選項 { flex-grow: 1; padding: 0.3em 0em; margin: 0.3em 0em; }
.正異選項 { font-size: 135%; text-align: center; }
.正異選項 { cursor: pointer; }
.正異選項[data-selected=true] {
    color: hsl(0, 0%, 10%);
    background-color: hsl(55, 90%, 60%);
}
.正異選項[data-selected=false] {
    color: hsl(0, 0%, 97%);
    background-color: hsl(0, 0%, 60%);
}
